<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" class="markContainer" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/header.png" class="headerImage"></div>
    <div fxLayout="column " style="width: 35em;" class="fadeInDown headerText" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h2 class="primaryColor width100 centerText">
          Ticket #{{details.id}} Reserved</h2>
      </div>
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <p>
          Hi {{details.firstName}}, download your ticket by <span (click)="printTicket()" class="primaryColor">Clicking Here</span>
          <br><br>
          You can also present this page at registration when you reach the venue for check in. Just bookmark this page.
          <br><br>
          Remember, you can also let your friends know of the event on WhatsApp and Twitter.
          <br><br>
          See you on Sunday
        </p>
      </div>
      <div *ngIf="downloading" class="fullWidth">
        <mat-progress-bar class="custom-progress" mode="indeterminate"></mat-progress-bar>
      </div>
      <div fxLayout="row " style="padding:15px 0;border-bottom: 1px dotted black;" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primaryBtn" (click)="printTicket()" [disabled]="downloading">Download My Ticket</button></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primaryBtn" (click)="direct()" [disabled]="downloading">Get Directions</button></div>
        <div *ngFor="let item of socialMediaIcons">
          <a href="{{item.link}}" target="_blank">
            <img src="{{item.icon}}" (click)="share(item)" width="30px">
          </a>
        </div>
      </div>
      <div fxLayout="row wrap" class="padding10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" id="ticket-info">
        <div fxLayout="column " fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h3 class="primaryColor width100">
                Ticket #{{details.id}} - {{details.firstName}} {{details.lastName}}
              </h3>
              <p>
                Name: <b>{{details.firstName}} {{details.lastName}}</b><br>
                Phone Number: <b>{{details.contactNumber}}</b><br>
                Email: <b>{{details.email}}</b><br>
                Gender: <b>{{details.gender}}</b><br>
                Invited By: <b>{{details.whoInvitedYou}}</b><br>
                Flat/Res: <b>{{details.address}}</b><br><br>

                Get More Tickets on <b>https://volt3c.web.app</b></p>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <img src="assets/Web/Khaya.jpeg" width="100%">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row " style="padding:25px 0" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primaryBtn" (click)="printTicket()">Download My Ticket</button></div>
        <div *ngFor="let item of socialMediaIcons">
          <img src="{{item.icon}}" (click)="share(item)" width="30px">
        </div>
      </div>
    </div>
  </div>
</div>