<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="markContainer" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/header.png" class="headerImage"></div>
    <div fxLayout="column wrap" style="width: 35em;" class="headerText" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h1 style="font-size: 1.5em;">
        15:30 COVID-19 SCREENING REGISTER</h1>
    </div>
    <div fxLayout="column wrap" style="padding: 25px;" class="headerText" fxLayoutAlign="start space-between" [fxShow]="true" [fxHide]="false" *ngIf="searchForNumber" ngClass.xs="mobileColumn">
      <div fxLayout="column wrap" style="width: 70%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="emailNumber" placeholder="Enter Email or Phone Number" [required]="false">
          <mat-error align="start" *ngIf="!emailNumber">Please enter a valid email address or phone number</mat-error>
          <mat-label>Enter Email or Phone Number</mat-label>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primaryBtn" (click)="findMe()">Find Me</button></div>
    </div>
    <div fxLayout="column wrap" style="width: 35em;" class="fadeInDown headerText" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="displayRegisterForm">
      <form [formGroup]="registerForm" style="display:contents" (reset)="onReset()">
        <div fxLayout="column wrap" style="padding: 25px;" fxLayoutGap="15px" fxLayoutAlign="start space-between" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Name" [required]="true" formControlName="firstName">

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Surname" [required]="true" formControlName="lastName">

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Contact Number" [required]="true" formControlName="contactNumber">

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Email" [required]="true" formControlName="email">

          </mat-form-field>
          <mat-radio-group formControlName="gender" [labelPosition]="&apos;after&apos;" [required]="true">
            <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><span>
                Gender</span>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-button [value]="&apos;m&apos;" [required]="false" [labelPosition]="&apos;after&apos;">Male</mat-radio-button>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-button [value]="&apos;f&apos;" [required]="false">Female</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Address" [required]="true" formControlName="address">

          </mat-form-field>
          <mat-radio-group formControlName="firstTimeVisitor" [labelPosition]="&apos;after&apos;" [required]="true">
            <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span>
                Are You a 1st Time Visitor?</span>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-button [value]="true" [required]="false">Yes</mat-radio-button>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-radio-button [value]="false" [required]="true" [labelPosition]="&apos;after&apos;">No</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Who Invited You? (Name &amp; Surname)" [required]="true" formControlName="whoInvitedYou">

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <mat-select formControlName="tribe" placeholder="Which Tribe are you in? *" [required]="false">
              <ng-template ngFor let-option [ngForOf]="selectATribe" let-i="index">
                <mat-option [value]="option">{{option}}</mat-option>
              </ng-template>
            </mat-select>

          </mat-form-field>
          <div fxLayout="column wrap" fxLayoutAlign="start baseline" [fxShow]="true" [fxHide]="false">
            <mat-checkbox name="{{item}}" (change)="addSymptom($event)" value="{{item}}" [required]="false" *ngFor="let item of selectSymptoms">{{item}}</mat-checkbox>
          </div>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Temperature: " [required]="true" formControlName="temperature">

          </mat-form-field><button mat-button style="background: #35af35;     color: white; " (click)="onSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>