/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "nDefaults.scss";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$primaryColour: #009595;
$darkColour: #005656;
$white: white;

html {
  font-family: "Varela Round", sans-serif;
  // background: #ede7f6;
}
.headerImage {
  width: 100%;
  max-width: 35em;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 3px #808080ba;
}

.headerContainer {
  width: 100%;
  max-width: 35em !important;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 3px #808080ba;
  height: 200px;
  background-image: url("./assets/Web/Dr-Tumi1.jpg");
  background-position: center;
    background-size: cover;
}

.headerText {
  // text-align: center;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
  width: 35em;
  margin: 15px 0;
}

.titleContainer {
  color: white;
  font-weight: bolder;
  background: linear-gradient(0deg, rgb(2 0 36 / 88%) 0%, rgb(0 0 0 / 61%) 35%, rgb(233 233 233 / 0%) 70%);
  border-radius: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.title {
  font-size: xx-large;
}

.markContainer {
  margin: 30px auto;
  width: 100%;
  padding: 0 12px;
}

.mobileColumn {
  width: 100%;
  padding: 15px;
}

.primaryBtn {
  background-color: $primaryColour;
  color: $white;
  min-width: 120px !important;
}

.secondaryBtn {
  margin: 0 10px !important;
  border: 1px solid seagreen !important;
  min-width: 120px !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: $primaryColour;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  border-color: $primaryColour !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $primaryColour;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: fadeInUp 0.7s;
}

.serviceDropDownMobile {
  
  
}
.serviceDropDown {
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.successIcon {
  font-size: 50px;
  color: green;
  height: 40px !important;
  width: 40px !important;
}

.width100 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0;
}

.header {
  padding: 10px;
  box-shadow: 1px 1px 5px 3px #80808085;
}

.mat-tab-label {
  font-size: 20px !important;
  height: 70px !important;
  padding: 0 10px !important;
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}

.mat-ink-bar {
  background-color: white !important;
}

.mat-tab-label-active .mat-tab-label-content {
  color: $darkColour;
  font-weight: 600;
}
.centerText {
  text-align: center;
}

.padding10px {
  padding: 10px;
}

.negativeSpaceImages {
  max-height: 300px;
  padding: 20px 0;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  padding-right: 14px !important;
}

.selectedChip {
  background-color: #009595;
  color: white;

  .mat-icon {
    color: white;
  }
}

.customButtonGroup {
  .mat-button-toggle {
    padding-right: 3px !important;
  }

  .mat-button-toggle-group {
    border: none;
  }
  .mat-button-toggle-button {
    margin: 0 5px !important;
    border-radius: 40px !important;
  }

  .mat-button-toggle-checked {
    background-color: #009595;
    color: white !important;
    margin: 0 5px !important;
    border-radius: 40px !important;
    padding-right: 10px !important;

    .mat-icon {
      color: white;
    }
  }
}

.admin-cards {
  .mat-card {
    box-shadow: 4px 4px 10px 0px #d5d5d5, -6px -4px 10px 0px #ffffff !important;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation: slideInUp 0.5s;
}

.fullWidth {
  width: 100% !important;
}

.maxWidth300 {
  max-width: 300px !important;
}

a {
  color: #009595;
  text-decoration: none;
}
.custom-progress .mat-progress-bar-fill::after {
  background-color: $primaryColour !important;
}

.primaryColor {
  color: $primaryColour;
}
.mat-progress-bar {
  background-color: $primaryColour;
  color: $primaryColour;
}